body {
    background-color: teal;
}

.game-container {
    display: flex;
}

.board {
    background-color: black;   
}

.score-board {
    border-radius: 100%;
    background-color: silver;
    height: 150px;
    width: 150px;
    margin-top: 125px;
}

.panel {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    
}

.active {
    background-color: grey;
}

.red {
    background-color: red;
    border-bottom-left-radius: 250px;
    cursor: pointer;
    
}

.blue {
    background-color: blue;
    border-top-left-radius: 250px;
    cursor: pointer;
    
}

.yellow {
    background-color: yellow;
    border-bottom-right-radius: 250px;
    cursor: pointer;
   
}

.green {
    background-color: green;
    border-top-right-radius: 250px;
    cursor: pointer;
    
}

.count {
    text-align: center;
    margin-left: 50px;
}

.score {
    text-align: center;
    margin-left: 50px;
}

.startButton {
    margin-left: 53px;
}

.title {
    margin-left: 17px;
}